Repository reble/llvm, pull requests merged in 2023-07, with the labels that each got.

#248 [SYCL] Update wording around updating kernel/host code
  sycl/doc/extensions/proposed/sycl_ext_oneapi_graph.asciidoc
Labels: Graph Specification

#246 [SYCL][Graph] Fix recording in_order queue with empty nodes
  sycl/source/handler.cpp
  sycl/test-e2e/Graph/RecordReplay/dotp_in_order_with_empty_nodes.cpp
  sycl/unittests/Extensions/CommandGraph.cpp
Labels: Graph Implementation

#244 [SYCL][Graph] Add tests checking event status querying
  sycl/test-e2e/Graph/Explicit/event_status_querying.cpp
  sycl/test-e2e/Graph/RecordReplay/event_status_querying.cpp
Labels: Graph Implementation

#249 [SYCL][Graph] Fix In-order queue unitests single context bug
  sycl/unittests/Extensions/CommandGraph.cpp
Labels: bug

#253 [SYCL][Doc] Address superficial Graphs spec feedback
  sycl/doc/extensions/proposed/sycl_ext_oneapi_graph.asciidoc
Labels: Graph Specification

#255 [SYCL][Doc] Change `graph_support_level` namespace
  sycl/doc/extensions/proposed/sycl_ext_oneapi_graph.asciidoc
Labels: Graph Specification

#254 [SYCL][Doc] Simplify queue recorded node definition and expand sub-graph section
  sycl/doc/extensions/proposed/sycl_ext_oneapi_graph.asciidoc
Labels: Graph Specification

#256 [SYCL] Change `graph_support_level` namespace to match spec feedback
  sycl/include/sycl/info/ext_oneapi_device_traits.def
  sycl/include/sycl/info/info_desc.hpp
  sycl/source/detail/device_info.hpp
  sycl/source/detail/graph_impl.cpp
  sycl/test-e2e/Graph/device_query.cpp
  sycl/test/abi/sycl_symbols_windows.dump
Labels: Graph Implementation

#257 [SYCL][Doc] Rephrase "recording to"
  sycl/doc/extensions/proposed/sycl_ext_oneapi_graph.asciidoc
Labels: Graph Specification

#259 [SYCL][Graph] Fix issue with CUDA device in E2E test
  sycl/test-e2e/Graph/RecordReplay/exception_inconsistent_devices.cpp
Labels: Graph Implementation

#263 [SYCL][Graph] Revise undefined behaviour with no_cycle_check
  sycl/doc/extensions/proposed/sycl_ext_oneapi_graph.asciidoc
Labels: Graph Specification

#252 [SYCL][Graph] Add debug print graph functionality
  sycl/source/detail/graph_impl.hpp
Labels: Graph Implementation

#266 [SYCL][Graph] Deleting unsupported tests from release branch
  sycl/test-e2e/Graph/Threading/begin_end_recording.cpp
  sycl/test-e2e/Graph/Threading/explicit_add_nodes.cpp
  sycl/test-e2e/Graph/Threading/finalize.cpp
  sycl/test-e2e/Graph/Threading/queue_state.cpp
  sycl/test-e2e/Graph/Threading/record_add_nodes.cpp
  sycl/test-e2e/Graph/Threading/submit.cpp
  sycl/test-e2e/Graph/Threading/update.cpp
Labels: Graph Implementation

#270 [SYCL][Graph] Disable failing Windows tests
  sycl/test-e2e/Graph/Explicit/reduction.cpp
  sycl/test-e2e/Graph/RecordReplay/concurrent_graph.cpp
  sycl/test-e2e/Graph/RecordReplay/dotp_multiple_queues.cpp
  sycl/test-e2e/Graph/RecordReplay/valid_no_end.cpp
Labels: Graph Implementation

#272 [SYCL][Graph] Removed outdated test
  sycl/test-e2e/Graph/RecordReplay/concurrent_graph.cpp
Labels: Graph Implementation

#273 [SYCL][Graph] Use same context for e2e queues
  sycl/test-e2e/Graph/RecordReplay/dotp_multiple_queues.cpp
  sycl/test-e2e/Graph/RecordReplay/valid_no_end.cpp
Labels: Graph Implementation

#264 [SYCL][Graph] Add error checking to make_edge
  sycl/source/detail/graph_impl.cpp
  sycl/source/detail/graph_impl.hpp
  sycl/test-e2e/Graph/Explicit/cycle_error.cpp
  sycl/unittests/Extensions/CommandGraph.cpp
Labels: Graph Implementation

#274 [SYCL][Graph] Disable reduction test Windows leak check
  sycl/test-e2e/Graph/Explicit/reduction.cpp
Labels: Graph Implementation

#277 [SYCL][Graph] Error when immediate command lists are used
  sycl/plugins/unified_runtime/ur/adapters/level_zero/command_buffer.cpp
  sycl/source/detail/graph_impl.cpp
  sycl/test-e2e/Graph/immediate_command_list_error.cpp
Labels: Graph Implementation

#224 [SYCL][Graph] Expand on design doc
  sycl/doc/design/CommandGraph.md
Labels: Graph Implementation
