Repository reble/llvm, pull requests merged in 2023-06, with the labels that each got.

#183 [SYCL][DOC] Adding design document for command graph extension
  sycl/doc/design/CommandGraph.md
  sycl/doc/design/images/SYCL-Graph-Architecture.svg
Labels: Graph Implementation

#207 [SYCL][Graph] Bugfix empty cgf
  sycl/source/detail/graph_impl.cpp
  sycl/test-e2e/Graph/Explicit/empty.cpp
Labels: bug, Graph Implementation

#210 [SYCL][Graph] code snippet to motivate buffer host copy
  sycl/doc/extensions/proposed/sycl_ext_oneapi_graph.asciidoc
Labels: Graph Specification

#211 [SYCL][Graph] Fix layout handler ABI test
  sycl/test/abi/layout_handler.cpp
Labels: Graph Implementation

#214 [SYCL][Graph] Fix scheduler regression test
  sycl/unittests/scheduler/Regression.cpp
Labels: Graph Implementation

#213 [SYCL][Graph] Fix empty node issue
  sycl/source/detail/graph_impl.cpp
  sycl/source/detail/graph_impl.hpp
  sycl/source/handler.cpp
  sycl/test-e2e/Graph/Explicit/empty_with_deps.cpp
  sycl/test-e2e/Graph/RecordReplay/empty.cpp
  sycl/test-e2e/Graph/RecordReplay/empty_node_with_dep.cpp
Labels: Graph Implementation

#217 [SYCL][Graph] Consistent use of make_error_code
  sycl/source/detail/graph_impl.cpp
  sycl/source/detail/graph_impl.hpp
Labels: Graph Implementation, Release Patch 1

#216 [SYCL][Graph] Remove dead code in unit-test
  sycl/unittests/Extensions/CommandGraph.cpp
Labels: Graph Implementation, Release Patch 1

#220 [SYCL][Graph] Apply LLVM coding style to non-public interfaces
  sycl/include/sycl/ext/oneapi/experimental/graph.hpp
  sycl/source/detail/graph_impl.cpp
  sycl/source/detail/graph_impl.hpp
  sycl/source/handler.cpp
  sycl/test/abi/sycl_symbols_linux.dump
Labels: Graph Implementation, Release Patch 1

#223 [SYCL][Graph] Update Windows symbols
  sycl/test/abi/sycl_symbols_windows.dump
Labels: Graph Implementation, Release Patch 1

#205 [SYCL][Graphs] Implement UR command-buffers
  sycl/include/sycl/detail/pi.h
  sycl/include/sycl/info/ext_oneapi_device_traits.def
  sycl/plugins/cuda/pi_cuda.cpp
  sycl/plugins/esimd_emulator/pi_esimd_emulator.cpp
  sycl/plugins/hip/pi_hip.cpp
  sycl/plugins/level_zero/CMakeLists.txt
  sycl/plugins/level_zero/pi_level_zero.cpp
  sycl/plugins/opencl/pi_opencl.cpp
  sycl/plugins/unified_runtime/CMakeLists.txt
  sycl/plugins/unified_runtime/pi2ur.hpp
  sycl/plugins/unified_runtime/pi_unified_runtime.cpp
  sycl/plugins/unified_runtime/ur/adapters/level_zero/ur_level_zero_command_buffer.cpp
  sycl/plugins/unified_runtime/ur/adapters/level_zero/ur_level_zero_command_buffer.hpp
  sycl/plugins/unified_runtime/ur/adapters/level_zero/ur_level_zero_device.cpp
  sycl/plugins/unified_runtime/ur/adapters/level_zero/ur_loader_interface.cpp
  sycl/source/detail/device_info.hpp
  sycl/source/detail/graph_impl.cpp
  sycl/source/handler.cpp
Labels: Graph Implementation

#222 [SYCL][Graph] Including more feedback from PR
  sycl/source/detail/graph_impl.cpp
Labels: Graph Implementation, Release Patch 1

#219 [SYCL][Graph] Make internal constructor private
  sycl/include/sycl/ext/oneapi/experimental/graph.hpp
Labels: Graph Implementation, Release Patch 1

#226 [SYCL][Graph] Fix test-e2e host task related fails
  sycl/source/detail/scheduler/commands.cpp
Labels: Graph Implementation, Release Patch 1

#228 [SYCL][Graph] Update scheduler regresion test to use shared_ptr
  sycl/include/sycl/detail/cg.hpp
  sycl/unittests/scheduler/Regression.cpp
Labels: Graph Implementation, Release Patch 1

#232 [SYCL][Doc] Correct property section level
  sycl/doc/extensions/proposed/sycl_ext_oneapi_graph.asciidoc
Labels: Graph Specification

#225 [SYCL][Graphs] Wait for graph events before destruction
  sycl/plugins/unified_runtime/ur/adapters/level_zero/ur_level_zero_command_buffer.cpp
  sycl/source/detail/graph_impl.cpp
  sycl/source/detail/graph_impl.hpp
Labels: Graph Implementation

#234 [SYCL][Graphs] Fix buffer test issues
  sycl/source/detail/graph_impl.cpp
  sycl/source/detail/graph_impl.hpp
  sycl/source/handler.cpp
Labels: Graph Implementation

#231 [SYCL][DOC] Incorporate feedback from PR
  sycl/doc/extensions/proposed/sycl_ext_oneapi_graph.asciidoc
Labels: Graph Specification

#237 Fix adding empty nodes to the graph results in two root nodes
  sycl/source/detail/graph_impl.cpp
  sycl/source/detail/graph_impl.hpp
  sycl/source/handler.cpp
Labels: bug, Graph Implementation

#240 [SYCL][Graph] Clarify some README unsupported features
  README.md
Labels: Graph Implementation

#242 [SYCL][Graph] Fix clang build
  sycl/plugins/unified_runtime/ur/adapters/level_zero/ur_level_zero_command_buffer.cpp
  sycl/source/detail/memory_manager.cpp
  sycl/source/detail/memory_manager.hpp
  sycl/source/detail/scheduler/commands.cpp
Labels: Graph Implementation

#241 [SYCL][Graph] Expand unittests
  sycl/unittests/Extensions/CommandGraph.cpp
Labels: Graph Implementation
