Repository reble/llvm, pull requests merged in 2023-08, with the labels that each got.

#281 [SYCL][Graph] Add the new exception throwing for unsupported backend to the Spec
  sycl/doc/extensions/proposed/sycl_ext_oneapi_graph.asciidoc
Labels: Graph Specification

#282 [SYCL][Graph] Moving non-implemented features to extra section
  sycl/doc/extensions/experimental/sycl_ext_oneapi_graph.asciidoc
Labels: Graph Specification

#284 [SYCL][Docs] Updates to experimental status spec
  sycl/doc/extensions/experimental/sycl_ext_oneapi_graph.asciidoc
Labels: Graph Specification

#285 [SYCL][Graph] Provide context for future direction section
  sycl/doc/extensions/experimental/sycl_ext_oneapi_graph.asciidoc
Labels: Graph Specification

#283 [SYCL][Graph] Throw exception when explicit add called on a graph recording a queue
  sycl/source/detail/graph_impl.cpp
  sycl/source/detail/graph_impl.hpp
  sycl/test-e2e/Graph/Explicit/while_recording.cpp
Labels: Graph Implementation, cherry-pick

#288 [SYCL][Graph] Fixes compilation bug with commit from PR #283
  sycl/source/detail/graph_impl.hpp
  sycl/test-e2e/Graph/Explicit/while_recording.cpp
Labels: Graph Implementation

#286 [SYCL][Graph] Incorporating Greg's feedback
  sycl/doc/extensions/experimental/sycl_ext_oneapi_graph.asciidoc
Labels: Graph Specification

#265 [SYCL][Graph] Makes command graph functions thread-safe
  sycl/source/detail/graph_impl.cpp
  sycl/source/detail/graph_impl.hpp
  sycl/source/detail/queue_impl.hpp
  sycl/source/handler.cpp
  sycl/test-e2e/Graph/Threading/begin_end_recording.cpp
  sycl/test-e2e/Graph/Threading/explicit_add_nodes.cpp
  sycl/test-e2e/Graph/Threading/finalize.cpp
  sycl/test-e2e/Graph/Threading/record_add_nodes.cpp
  sycl/test-e2e/Graph/Threading/submit.cpp
  sycl/test-e2e/Graph/Threading/update.cpp
  sycl/test-e2e/Graph/graph_common.hpp
  sycl/test-e2e/format.py
  sycl/unittests/Extensions/CommandGraph.cpp
Labels: Graph Implementation, cherry-pick

#289 [SYCL][Graph] Add property for allowing host data created buffers
  sycl/doc/extensions/experimental/sycl_ext_oneapi_graph.asciidoc
Labels: Graph Specification

#293 [SYCL][NFC] Update README table of supported features
  README.md
Labels: Graph Implementation

#279 [SYCL][Graph] Implement graph creation and finalization for CUDA backend
  sycl/plugins/cuda/pi_cuda.cpp
  sycl/plugins/unified_runtime/ur/adapters/cuda/command_buffer.cpp
  sycl/plugins/unified_runtime/ur/adapters/cuda/command_buffer.hpp
  sycl/plugins/unified_runtime/ur/adapters/cuda/device.cpp
  sycl/test-e2e/Graph/cuda_backend_create_and_finalize_empty_graph.cpp
  sycl/test-e2e/Graph/device_query.cpp
Labels: Graph Implementation

#287 [SYCL][Graph] Error on invalid buffer behaviour
  sycl/include/sycl/accessor.hpp
  sycl/include/sycl/detail/property_helper.hpp
  sycl/include/sycl/ext/oneapi/experimental/graph.hpp
  sycl/source/accessor.cpp
  sycl/source/detail/graph_impl.cpp
  sycl/source/detail/graph_impl.hpp
  sycl/source/detail/queue_impl.cpp
  sycl/source/detail/queue_impl.hpp
  sycl/source/detail/sycl_mem_obj_t.hpp
  sycl/source/handler.cpp
  sycl/test-e2e/Graph/Explicit/assume_buffer_outlives_graph_property.cpp
  sycl/test-e2e/Graph/Explicit/assume_data_outlives_buffer_property.cpp
  sycl/test-e2e/Graph/Inputs/assume_buffer_outlives_graph_property.cpp
  sycl/test-e2e/Graph/Inputs/assume_data_outlives_buffer_property.cpp
  sycl/test-e2e/Graph/Inputs/basic_buffer.cpp
  sycl/test-e2e/Graph/Inputs/buffer_copy.cpp
  sycl/test-e2e/Graph/Inputs/buffer_copy_2d.cpp
  sycl/test-e2e/Graph/Inputs/buffer_copy_host2target.cpp
  sycl/test-e2e/Graph/Inputs/buffer_copy_host2target_2d.cpp
  sycl/test-e2e/Graph/Inputs/buffer_copy_host2target_offset.cpp
  sycl/test-e2e/Graph/Inputs/buffer_copy_offsets.cpp
  sycl/test-e2e/Graph/Inputs/buffer_copy_target2host.cpp
  sycl/test-e2e/Graph/Inputs/buffer_copy_target2host_2d.cpp
  sycl/test-e2e/Graph/Inputs/buffer_copy_target2host_offset.cpp
  sycl/test-e2e/Graph/Inputs/buffer_ordering.cpp
  sycl/test-e2e/Graph/Inputs/dotp_buffer_reduction.cpp
  sycl/test-e2e/Graph/Inputs/dotp_usm_reduction.cpp
  sycl/test-e2e/Graph/Inputs/event_status_querying.cpp
  sycl/test-e2e/Graph/Inputs/sub_graph_reduction.cpp
  sycl/test-e2e/Graph/Inputs/temp_buffer_reinterpret.cpp
  sycl/test-e2e/Graph/RecordReplay/assume_buffer_outlives_graph_property.cpp
  sycl/test-e2e/Graph/RecordReplay/assume_data_outlives_buffer_property.cpp
  sycl/test-e2e/format.py
  sycl/test/abi/sycl_symbols_linux.dump
  sycl/test/abi/sycl_symbols_windows.dump
  sycl/unittests/Extensions/CommandGraph.cpp
Labels: Graph Implementation, cherry-pick

#297 [SYCL][Doc] Fix `graph_support_level` namespace in table
  sycl/doc/extensions/experimental/sycl_ext_oneapi_graph.asciidoc
Labels: Graph Specification

#290 [SYCL][Graph] Add exceptions on using spec constants, kernel bundles and reductions
  sycl/include/sycl/ext/oneapi/experimental/graph.hpp
  sycl/include/sycl/handler.hpp
  sycl/source/handler.cpp
  sycl/test-e2e/Graph/RecordReplay/dotp_buffer_reduction.cpp
  sycl/test-e2e/Graph/RecordReplay/dotp_usm_reduction.cpp
  sycl/test-e2e/Graph/RecordReplay/sub_graph_reduction.cpp
  sycl/test/abi/sycl_symbols_linux.dump
  sycl/test/abi/sycl_symbols_windows.dump
  sycl/unittests/Extensions/CommandGraph.cpp
Labels: Graph Implementation, cherry-pick

#294 [SYCL][Graph] Throw exception when using bindless images extension in a graph
  sycl/include/sycl/ext/oneapi/experimental/graph.hpp
  sycl/source/handler.cpp
  sycl/unittests/Extensions/CommandGraph.cpp
Labels: Graph Implementation, cherry-pick

#295 [SYCL][Graph] Throw exception when calling profiling
  sycl/source/detail/event_impl.cpp
  sycl/source/detail/event_impl.hpp
  sycl/source/detail/graph_impl.cpp
  sycl/unittests/Extensions/CommandGraph.cpp
Labels: Graph Implementation, cherry-pick

#296 [SYCL] Update graphs spec unimplemented features list.
  sycl/doc/extensions/experimental/sycl_ext_oneapi_graph.asciidoc
Labels: Graph Specification

#299 [SYCL][Graph] Fix memory leak multithreading
  sycl/source/detail/graph_impl.cpp
Labels: bug, Graph Implementation, cherry-pick

#302 [SYCL][Graph] Remove exec_graph_impl mutex lock in the destructor of this object
  sycl/source/detail/graph_impl.cpp
Labels: Graph Implementation, cherry-pick

#303 [SYCL][Graph] Improves node_impl equal operator and new nodes list allocation policy
  sycl/source/detail/graph_impl.cpp
  sycl/source/detail/graph_impl.hpp
Labels: Graph Implementation, cherry-pick

#304 [SYCL][Doc] Update spec example with buffer restrictions
  sycl/doc/extensions/experimental/sycl_ext_oneapi_graph.asciidoc
Labels: Graph Specification, cherry-pick

#301 [SYCL][Graph] Support for sycl_ext_oneapi_enqueue_barrier extension
  sycl/include/sycl/handler.hpp
  sycl/source/detail/graph_impl.cpp
  sycl/source/detail/graph_impl.hpp
  sycl/source/handler.cpp
  sycl/test-e2e/Graph/RecordReplay/barrier_with_work.cpp
  sycl/unittests/Extensions/CommandGraph.cpp
Labels: Graph Implementation

#308 [SYCL][Graph] Unitest bugfix
  sycl/unittests/helpers/PiMockPlugin.hpp
Labels: bug

#311 [SYCL][Doc] Remove graph property for buffer host lifetime
  sycl/doc/extensions/experimental/sycl_ext_oneapi_graph.asciidoc
Labels: Graph Specification, cherry-pick

#312 [SYCL][Graph] Remove assume_data_outlives_buffer property
  sycl/include/sycl/ext/oneapi/experimental/graph.hpp
  sycl/source/detail/graph_impl.cpp
  sycl/source/detail/graph_impl.hpp
  sycl/test-e2e/Graph/Explicit/assume_data_outlives_buffer_property.cpp
  sycl/test-e2e/Graph/Inputs/assume_data_outlives_buffer_property.cpp
  sycl/test-e2e/Graph/Inputs/basic_buffer.cpp
  sycl/test-e2e/Graph/Inputs/buffer_copy.cpp
  sycl/test-e2e/Graph/Inputs/buffer_copy_2d.cpp
  sycl/test-e2e/Graph/Inputs/buffer_copy_host2target.cpp
  sycl/test-e2e/Graph/Inputs/buffer_copy_host2target_2d.cpp
  sycl/test-e2e/Graph/Inputs/buffer_copy_host2target_offset.cpp
  sycl/test-e2e/Graph/Inputs/buffer_copy_offsets.cpp
  sycl/test-e2e/Graph/Inputs/buffer_copy_target2host.cpp
  sycl/test-e2e/Graph/Inputs/buffer_copy_target2host_2d.cpp
  sycl/test-e2e/Graph/Inputs/buffer_copy_target2host_offset.cpp
  sycl/test-e2e/Graph/Inputs/dotp_buffer_reduction.cpp
  sycl/test-e2e/Graph/Inputs/dotp_usm_reduction.cpp
  sycl/test-e2e/Graph/Inputs/event_status_querying.cpp
  sycl/test-e2e/Graph/Inputs/sub_graph_reduction.cpp
  sycl/test-e2e/Graph/Inputs/temp_buffer_reinterpret.cpp
  sycl/test-e2e/Graph/RecordReplay/assume_data_outlives_buffer_property.cpp
Labels: Graph Implementation, cherry-pick

#313 [SYCL][Graph] Move `graph_support_level` namespace
  sycl/include/sycl/info/ext_oneapi_device_traits.def
  sycl/include/sycl/info/info_desc.hpp
  sycl/source/detail/device_info.hpp
  sycl/source/detail/graph_impl.cpp
  sycl/source/detail/graph_impl.hpp
  sycl/test-e2e/Graph/device_query.cpp
  sycl/test-e2e/Graph/exception_unsupported_backend.cpp
Labels: Graph Implementation, cherry-pick

#310 [SYCL][Graph] Adds retrain/release for the commandbuffer dummy handler in the unitest PI mock
  sycl/unittests/helpers/PiMockPlugin.hpp
Labels: bug

#306 [SYCL][Graph] Add support for fill and memset nodes in graphs
  sycl/doc/design/CommandGraph.md
  sycl/include/sycl/detail/pi.def
  sycl/include/sycl/detail/pi.h
  sycl/plugins/level_zero/pi_level_zero.cpp
  sycl/plugins/unified_runtime/CMakeLists.txt
  sycl/plugins/unified_runtime/pi2ur.hpp
  sycl/plugins/unified_runtime/ur/adapters/cuda/command_buffer.cpp
  sycl/plugins/unified_runtime/ur/adapters/cuda/ur_interface_loader.cpp
  sycl/plugins/unified_runtime/ur/adapters/hip/command_buffer.cpp
  sycl/plugins/unified_runtime/ur/adapters/hip/ur_interface_loader.cpp
  sycl/plugins/unified_runtime/ur/adapters/level_zero/command_buffer.cpp
  sycl/plugins/unified_runtime/ur/adapters/level_zero/ur_interface_loader.cpp
  sycl/source/detail/graph_impl.hpp
  sycl/source/detail/memory_manager.cpp
  sycl/source/detail/memory_manager.hpp
  sycl/source/detail/scheduler/commands.cpp
  sycl/test-e2e/Graph/Explicit/buffer_fill.cpp
  sycl/test-e2e/Graph/Explicit/usm_memset.cpp
  sycl/test-e2e/Graph/Inputs/buffer_fill.cpp
  sycl/test-e2e/Graph/Inputs/usm_memset.cpp
  sycl/test-e2e/Graph/RecordReplay/buffer_fill.cpp
  sycl/test-e2e/Graph/RecordReplay/usm_memset.cpp
  sycl/unittests/Extensions/CommandGraph.cpp
  sycl/unittests/helpers/PiMockPlugin.hpp
Labels: Graph Implementation

#314 [SYCL][Graph] Fixes multithread finalize unitest bug
  sycl/unittests/Extensions/CommandGraph.cpp
Labels: bug, cherry-pick

#309 [SYCL][Graph][DOC] Updates design Doc to report CUDA as supported backend
  sycl/doc/design/CommandGraph.md
Labels: Graph Implementation
