Repository reble/llvm, pull requests merged in 2023-05, with the labels that each got.

#155 Fix typo in name of copy-back API
  sycl/doc/extensions/proposed/sycl_ext_oneapi_graph.asciidoc
Labels: Graph Specification

#157 [SYCL][Graph] Test using USM fill operation in nodes
  sycl/test/graph/graph-explicit-fill-usm.cpp
  sycl/test/graph/graph-record-fill-usm.cpp
Labels: Graph Implementation

#160 [SYCL][Graph] Remove intermediate SYCL_BUILD_SYCL_GRAPH variable
  sycl/CMakeLists.txt
  sycl/source/feature_test.hpp.in
Labels: Graph Implementation

#151 [SYCL] Add support for accessors in graphs
  sycl/include/sycl/detail/cg.hpp
  sycl/include/sycl/detail/pi.hpp
  sycl/include/sycl/handler.hpp
  sycl/source/detail/event_impl.hpp
  sycl/source/detail/graph_impl.cpp
  sycl/source/detail/graph_impl.hpp
  sycl/source/detail/scheduler/commands.cpp
  sycl/source/detail/scheduler/commands.hpp
  sycl/source/detail/scheduler/graph_builder.cpp
  sycl/source/detail/scheduler/scheduler.cpp
  sycl/source/detail/scheduler/scheduler.hpp
  sycl/source/handler.cpp
  sycl/test/graph/graph-explicit-dotp-mixed.cpp
Labels: Graph Implementation

#156 [SYCL][Graph]Use doxygen style comments in graphs header files
  sycl/include/sycl/ext/oneapi/experimental/graph.hpp
  sycl/source/detail/graph_impl.cpp
  sycl/source/detail/graph_impl.hpp
Labels: Graph Implementation

#166 [SYCL] Fix mixed dotp example
  sycl/test/graph/graph-explicit-dotp-mixed.cpp
Labels: bug, Graph Implementation

#158 [SYCL] [Graphs] Port llvm-test-suite graphs tests to test-e2e
  sycl/test-e2e/Graph/Explicit/add_nodes_after_finalize.cpp
  sycl/test-e2e/Graph/Explicit/basic_buffer.cpp
  sycl/test-e2e/Graph/Explicit/basic_usm.cpp
  sycl/test-e2e/Graph/Explicit/double_buffer.cpp
  sycl/test-e2e/Graph/Explicit/executable_graph_update.cpp
  sycl/test-e2e/Graph/Explicit/host_task.cpp
  sycl/test-e2e/Graph/Explicit/stream.cpp
  sycl/test-e2e/Graph/Explicit/sub_graph.cpp
  sycl/test-e2e/Graph/Explicit/usm_copy.cpp
  sycl/test-e2e/Graph/Explicit/while_recording.cpp
  sycl/test-e2e/Graph/Explicit/whole_graph_update_ordering.cpp
  sycl/test-e2e/Graph/RecordReplay/add_nodes_after_finalize.cpp
  sycl/test-e2e/Graph/RecordReplay/after_use.cpp
  sycl/test-e2e/Graph/RecordReplay/basic_buffer.cpp
  sycl/test-e2e/Graph/RecordReplay/basic_usm.cpp
  sycl/test-e2e/Graph/RecordReplay/concurrent_graph.cpp
  sycl/test-e2e/Graph/RecordReplay/concurrent_queue.cpp
  sycl/test-e2e/Graph/RecordReplay/double_buffer.cpp
  sycl/test-e2e/Graph/RecordReplay/executable_graph_update.cpp
  sycl/test-e2e/Graph/RecordReplay/executable_graph_update_ordering.cpp
  sycl/test-e2e/Graph/RecordReplay/finalize_while_recording.cpp
  sycl/test-e2e/Graph/RecordReplay/host_task.cpp
  sycl/test-e2e/Graph/RecordReplay/multiple_exec_graphs.cpp
  sycl/test-e2e/Graph/RecordReplay/queue_shortcuts.cpp
  sycl/test-e2e/Graph/RecordReplay/return_values.cpp
  sycl/test-e2e/Graph/RecordReplay/stream.cpp
  sycl/test-e2e/Graph/RecordReplay/sub_graph.cpp
  sycl/test-e2e/Graph/RecordReplay/temp_buffer.cpp
  sycl/test-e2e/Graph/RecordReplay/temp_buffer_reinterpret.cpp
  sycl/test-e2e/Graph/RecordReplay/usm_copy.cpp
  sycl/test-e2e/Graph/RecordReplay/valid_no_end.cpp
  sycl/test-e2e/Graph/Threading/begin_end_recording.cpp
  sycl/test-e2e/Graph/Threading/explicit_add_nodes.cpp
  sycl/test-e2e/Graph/Threading/finalize.cpp
  sycl/test-e2e/Graph/Threading/queue_state.cpp
  sycl/test-e2e/Graph/Threading/record_add_nodes.cpp
  sycl/test-e2e/Graph/Threading/submit.cpp
  sycl/test-e2e/Graph/Threading/update.cpp
  sycl/test-e2e/Graph/finalize_empty.cpp
  sycl/test-e2e/Graph/finalize_twice.cpp
  sycl/test-e2e/Graph/graph_common.hpp
  sycl/test-e2e/Graph/queue_state.cpp
  sycl/test-e2e/Graph/vendor_test_macro.cpp
Labels: Graph Implementation

#171 [SYCL] Update ABI layout and tests
  sycl/include/sycl/handler.hpp
  sycl/test/abi/layout_handler.cpp
  sycl/test/abi/pi_level_zero_symbol_check.dump
  sycl/test/abi/pi_opencl_symbol_check.dump
  sycl/test/abi/sycl_symbols_linux.dump
  sycl/test/abi/symbol_size_alignment.cpp
Labels: bug, Graph Implementation

#175 [SYCL][DOC] Collecting open issues
  sycl/doc/extensions/proposed/sycl_ext_oneapi_graph.asciidoc
Labels: Graph Specification, Spec Revision 1

#173 [SYCL][Graph] Implement queue state query
  sycl/include/sycl/queue.hpp
  sycl/source/queue.cpp
  sycl/test-e2e/Graph/queue_state.cpp
  sycl/test/abi/sycl_symbols_linux.dump
Labels: Graph Implementation

#177 [SYCL] Refactor node class
  sycl/include/sycl/detail/cg.hpp
  sycl/include/sycl/handler.hpp
  sycl/source/detail/graph_impl.cpp
  sycl/source/detail/graph_impl.hpp
  sycl/source/detail/scheduler/commands.cpp
  sycl/source/detail/scheduler/commands.hpp
  sycl/source/handler.cpp
Labels: Graph Implementation

#179 [SYCL] Add check for empty nodes in check_for_arg()
  sycl/source/detail/graph_impl.cpp
Labels: Graph Implementation

#161 [SYCL][Graph] Query for backend command-buffer support
  README.md
  buildbot/configure.py
  sycl/CMakeLists.txt
  sycl/include/sycl/detail/pi.h
  sycl/plugins/cuda/pi_cuda.cpp
  sycl/plugins/esimd_emulator/pi_esimd_emulator.cpp
  sycl/plugins/hip/pi_hip.cpp
  sycl/plugins/opencl/pi_opencl.cpp
  sycl/plugins/unified_runtime/pi2ur.hpp
  sycl/plugins/unified_runtime/ur/adapters/level_zero/ur_level_zero.cpp
  sycl/plugins/unified_runtime/ur/ur.hpp
  sycl/source/detail/graph_impl.cpp
  sycl/source/feature_test.hpp.in
  sycl/test-e2e/Graph/vendor_test_macro.cpp
Labels: Graph Implementation

#178 [SYCL][Doc] Device query for graphs support
  sycl/doc/extensions/proposed/sycl_ext_oneapi_graph.asciidoc
Labels: Graph Implementation, Spec Revision 1

#181 [SYCL][Graphs] Implement device support query
  sycl/include/sycl/info/ext_oneapi_device_traits.def
  sycl/include/sycl/info/info_desc.hpp
  sycl/source/detail/device_info.hpp
  sycl/test-e2e/Graph/device_query.cpp
  sycl/test-e2e/Graph/vendor_test_macro.cpp
Labels: Graph Implementation

#176 [SYCL][Graphs] Fix check-sycl target by removing PI command-buffer unit tests
  sycl/unittests/pi/CMakeLists.txt
  sycl/unittests/pi/level-zero/CMakeLists.txt
  sycl/unittests/pi/level-zero/spirv-source.hpp
  sycl/unittests/pi/level-zero/test_ext_command_buffers.cpp
Labels: Graph Implementation

#180 [SYCL][Graphs] Readme table of implementation coverage
  README.md
Labels: Graph Implementation

#186 [SYCL] Support USM memcpy/copy in graphs
  sycl/include/sycl/detail/pi.def
  sycl/include/sycl/detail/pi.h
  sycl/plugins/cuda/pi_cuda.cpp
  sycl/plugins/esimd_emulator/pi_esimd_emulator.cpp
  sycl/plugins/hip/pi_hip.cpp
  sycl/plugins/level_zero/pi_level_zero.cpp
  sycl/plugins/opencl/pi_opencl.cpp
  sycl/source/detail/memory_manager.cpp
  sycl/source/detail/memory_manager.hpp
  sycl/source/detail/queue_impl.cpp
  sycl/source/detail/scheduler/commands.cpp
  sycl/test-e2e/Graph/Explicit/usm_copy.cpp
  sycl/test-e2e/Graph/RecordReplay/usm_copy.cpp
Labels: Graph Implementation

#193 [SYCL][Graph] PI Mock Stub for USM Memcpy
  sycl/unittests/helpers/PiMockPlugin.hpp
Labels: Graph Implementation

#194 [SYCL][Graph] Fix Windows ABI tests
  sycl/test/abi/sycl_symbols_windows.dump
  sycl/test/abi/symbol_size_alignment.cpp
Labels: Graph Implementation

#184 [SYCL] Fix clang-format
  sycl/include/sycl/detail/pi.h
  sycl/plugins/level_zero/pi_level_zero.cpp
  sycl/source/detail/event_impl.hpp
  sycl/source/detail/graph_impl.cpp
  sycl/source/detail/graph_impl.hpp
  sycl/source/detail/scheduler/commands.cpp
  sycl/source/detail/scheduler/commands.hpp
  sycl/source/detail/scheduler/graph_builder.cpp
  sycl/source/detail/scheduler/scheduler.cpp
  sycl/source/detail/scheduler/scheduler.hpp
  sycl/unittests/Extensions/CommandGraph.cpp
Labels: bug, Graph Implementation

#197 [SYCL][Doc] Address latest round of review comments
  sycl/doc/extensions/proposed/sycl_ext_oneapi_graph.asciidoc
Labels: Graph Specification

#198 [SYCL][Graph] Remove leftover graphs flag from configure script
  buildbot/configure.py
  sycl/doc/GetStartedGuide.md
Labels: Graph Implementation

#195 [SYCL][Graphs] Fix Windows stdcpp_compat.cpp fail
  sycl/include/sycl/ext/oneapi/experimental/graph.hpp
Labels: Graph Implementation

#190 [SYCL][Graphs] Remove blocking wait from graph enqueue.
  sycl/plugins/level_zero/pi_level_zero.cpp
  sycl/plugins/level_zero/pi_level_zero.hpp
  sycl/source/detail/graph_impl.cpp
  sycl/source/detail/graph_impl.hpp
  sycl/source/handler.cpp
  sycl/test-e2e/Graph/Explicit/buffer_ordering.cpp
  sycl/test-e2e/Graph/Explicit/enqueue_ordering.cpp
Labels: Graph Implementation

#200 [SYCL] Incorporating more feedback from PR
  sycl/doc/extensions/proposed/sycl_ext_oneapi_graph.asciidoc
Labels: Graph Specification

#204 [SYCL][Doc] Expand on update() error wording for invalid device
  sycl/doc/extensions/proposed/sycl_ext_oneapi_graph.asciidoc
Labels: Graph Specification
